<div *ngFor="let order of clientOrdersData" class=" scrollable card w-60 mx-auto rounded border border-primary mb-4">
  <div *ngIf="order.order.customerId == client">
    <h4 class="card-header border-primary">Orden : {{order.order.id}}</h4>
    <div class="card-body">
      <h5 class="card-text">Id: {{order.order.customerId}}</h5>
      <span class="blocker">Codigo Postal: {{order.postalCode}}</span>
      <br>
      <span class="blocker">Direccion: {{order.order.customerId}}</span>
      <br>
      <span class="blocker">Fax: {{order.orderDetails}}</span>
      <br>
      <span class="blocker">Telefono: {{order.orderDetails.orderId}}</span>
      <br>
    </div>
  </div>
</div>