<div *ngFor="let order of clientOrdersData" >
  <div *ngIf="order.order.customerId == client" class=" card w-60 mx-auto rounded border border-primary mb-4">
    <h4 class="card-header border-primary">Orden : {{order.order.id}}</h4>
    <div class="card-body scrollable">
      <h5 class="blocker">{{order.order.shipName}}</h5>
      <span>Codigo Postal: {{order.order.shipPostalCode}}</span>
      <br>
      <span>Direccion: {{order.order.shipAddress}},{{order.order.shipCity}},{{order.order.shipCountry}}</span>
<br>
<br>
      <table class="table table-striped table-bordered table-sm">
        <thead>
        <tr>
          <th scope="col">Codigo</th>
          <th scope="col">Producto</th>
          <th scope="col">Precio Unitario</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Descuento</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let detail of order.orderDetails">
          <td>
            {{ detail.orderId }}
          </td>
          <td>{{ detail.productId}}</td>
          <td>{{ detail.unitPrice }}</td>
          <td>{{ detail.quantity }}</td>
          <td>{{ detail.discount }}</td>
        </tr>
        </tbody>
      </table>
      
    </div>
  </div>
</div>

