


  .vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }

  .size{
    height: 100%;
  }

 .h3{
      text-align: left;
  }

  .header{
      background-color: aliceblue;
  }

  .scrollable {
    height:150px;
    overflow-y: scroll;
  }

  .blocker{
    display: inline-block;
  }